@charset "UTF-8";
.borde-redondeado, .carta, .cartat, .cartap {
  border-radius: 20px;
}

body {
  background-color: whitesmoke;
}

header {
  background-color: beige;
}

h1 {
  color: black;
  width: 1px;
  font-weight: light;
  text-align: center;
  font-size: 50px;
}

nav a {
  text-decoration: none;
  font-size: 2rem;
  align-content: center;
  color: chocolate;
  font-weight: lighter;
  margin-right: 2rem;
}

main {
  margin-top: 2%;
  width: 100%;
}

.imagenCarrusel {
  height: auto;
}

h1 {
  color: black;
  width: 100%;
  font-style: oblique;
  text-align: center;
  font-size: 6vh;
}

h2 {
  color: chocolate;
  -webkit-text-stroke: 1px black;
  font-size: 4vh;
  margin-left: 1%;
  margin-bottom: 5%;
}

h3 {
  color: brown;
}

h4 {
  font-size: 1rem;
}

h5 {
  font-size: 2rem;
}

footer {
  display: flex;
  background-color: burlywood;
  height: 30vh;
}
footer p {
  font-weight: bold;
  font-size: 20px;
  font-display: center;
  color: white 150px;
  font-size: 20px;
}
footer form {
  flex-direction: row;
  padding: 1rem;
  border-radius: 2rem;
}

.iconos {
  font-size: 3rem;
  padding: 4rem;
  margin-left: 2rem;
}

.web {
  font-size: 2vh;
  margin-top: 10%;
  padding: 2%;
}

.nav-link {
  text-decoration: none;
  font-size: 2rem;
  align-content: center;
  color: chocolate;
  font-weight: lighter;
  margin-right: 2rem;
}

.parrafo1 {
  color: chocolate;
  -webkit-text-stroke: 1px black;
  font-size: 4vh;
  margin-left: 1%;
  margin-bottom: 5%;
}

.parallax {
  background-image: url(../img/fondo.jpg);
  opacity: 0.5;
  height: 400px;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  margin-bottom: 50px;
}

.video_container {
  display: flex;
  justify-content: center;
}
.video_container iframe {
  width: 500px;
  height: 300px;
}

.parrafo p {
  padding: 2%;
  margin-left: 2%;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: brown;
  font-size: 4vh;
}

.section-dos {
  display: flex;
  flex-direction: row;
}
.section-dos img {
  align-items: flex-start;
  width: 100vh;
  padding: 2%;
}
.section-dos p {
  align-items: flex-end;
  font-size: 4vh;
  padding: 2%;
  color: chocolate;
}

/*menu*/
.contenedor-menu {
  display: block;
  font-size: x-large !important;
  text-align: left !important;
}

.submenu {
  display: none;
  background: chocolate;
  width: 170px;
  text-align: center;
}

/*sobre nosotros*/
.sobre-nosotros .container-propio p {
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  font-size: 4vh;
  padding: 2%;
}
.sobre-nosotros .container-propio .p1 {
  display: flex;
  flex-direction: column;
  font-size: 4vh;
  padding: 2%;
  align-items: center;
}
.sobre-nosotros .container-propio .p1 img {
  width: 40rem;
  height: 30rem;
  padding: 2%;
}
.sobre-nosotros .container-propio .p2 {
  display: flex;
  padding: 2%;
}
.sobre-nosotros .container-propio .p2 p {
  padding: 3%;
}
.sobre-nosotros .container-propio .p3 {
  display: flex;
  flex-direction: row-reverse;
  padding: 2%;
}
.sobre-nosotros .container-propio .p3 img {
  padding: 1%;
}
.sobre-nosotros .container-propio .p4 {
  display: flex;
  flex-direction: row;
  padding: 2%;
}
.sobre-nosotros .container-propio .p5 {
  display: flex;
  flex-direction: row-reverse;
  padding: 3%;
}
.sobre-nosotros .container-propio .p5 p {
  padding: 2%;
}
.sobre-nosotros .container-propio h2 {
  text-align: center;
}

/*promociones*/
.promo-ul li {
  font-size: 2rem;
  color: chocolate;
  -webkit-text-stroke: black;
}

.cartap {
  background-color: burlywood;
  margin-right: 20px;
  margin-top: 3vh;
  margin-left: 10%;
  border: grey;
}

img {
  height: 14rem;
}

.promociones {
  margin-bottom: 5%;
}

.postres {
  margin-left: 10%;
  margin-right: 5%;
  box-shadow: 50px chocolate;
  transform: translate(10px 20px);
}

.container-promo {
  margin-bottom: 10%;
  font-size: 1rem;
}

/*infantiles*/
.cartat {
  background-color: burlywood;
  margin-right: 20px;
  margin-top: 3vh;
  margin-left: 10%;
  border: grey;
}

.trufas {
  margin-bottom: 5%;
}

/*día del padre*/
.carta {
  background-color: burlywood;
  margin-right: 20px;
  margin-top: 3vh;
  margin-left: 10%;
  border: grey;
}

.desayuno-lista p {
  font-size: 2rem;
  color: brown;
}

.desayuno-lista ul {
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  color: chocolate;
}

.postres {
  margin-bottom: 5%;
}

.postres p {
  font-size: 2rem;
}

.container-promo {
  font-size: 1rem;
}

/*galería*/
.contenedor-galeria img {
  width: 20rem;
  height: 20rem;
}

.contenedor-galeria p {
  font-size: 2rem;
  margin-left: 15%;
}

.super-galeria {
  margin-left: 2%;
}
.super-galeria img {
  height: 20rem;
  width: 20rem;
}
.super-galeria img:hover {
  transform: scale(1.2);
  transition: all 3s;
}

/*transformaciones*/
.header-nav a:hover {
  color: brown;
}

h1:hover {
  transform: scale(1.2);
  transition: all 2s;
}

.grid-sub-h2 {
  transition: all 0.7s;
}

.animacion {
  width: 120px;
  height: 120px;
  margin: 0 0 200px 50px;
  background-color: aquamarine;
}

.img-pos:hover {
  animation: cambioDeColores 5s;
}

@media only screen and (max-width: 768px) {
  /*inicio*/
  header {
    width: 112vh;
  }
  main img {
    width: 120vh;
  }
  footer img {
    width: 30px;
    height: 30px;
    margin-top: 5px;
    margin-left: 40px;
  }
  footer form {
    width: 10%;
  }
  footer p {
    margin-left: 5%;
  }
}
@media only screen and (max-width: 576px) {
  /*inicio*/
  nav {
    display: flex;
    flex-direction: column;
    margin-right: 30%;
  }
  nav a {
    font-size: 100%;
  }
  main img {
    width: 805%;
  }
  h1 {
    margin-left: 30%;
    font-size: 200%;
    display: inline;
  }
  h2 {
    display: flex;
    font-size: 150%;
  }
  section h1 {
    margin-left: 14%;
  }
  section p {
    width: 65%;
    margin-left: 15%;
  }
  .parrafo {
    width: 65%;
  }
  .parrafo p {
    margin-left: 30%;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: brown;
  }
  .video_container {
    margin-left: 15%;
    width: 72%;
  }
  .section-dos {
    display: inline;
  }
  footer {
    display: flex;
    height: 40vh;
  }
  footer form {
    width: 5%;
  }
  .iconos {
    display: flex;
    font-size: 2rem;
  }
  .web {
    display: flex;
    font-size: 2vh;
    padding: 1rem;
    margin-top: 15%;
  }
  .postres {
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(6, 1fr);
  }
  .postres img {
    width: 15rem;
    height: 15rem;
  }
  .postres p {
    align-items: center;
  }
  .img-pos {
    width: 42%;
    border: 1rem solid chocolate;
    border-radius: 8%;
    margin-top: 2%;
    margin-bottom: 2%;
    margin-left: 15%;
  }
  .contenedor-galeria {
    display: flex;
    flex-direction: column;
    margin-left: 15%;
  }
  /*promociones*/
  .carta1t {
    margin-top: 5%;
  }
  .carta2t {
    margin-top: 5%;
  }
  .carta3t {
    margin-top: 5%;
  }
  .carta4t {
    margin-top: 5%;
  }
  .carta5t {
    margin-top: 5%;
  }
  .carta6t {
    margin-top: 5%;
  }
  .postres {
    margin-left: 20%;
  }
  .carta1 {
    margin-top: 5%;
  }
  .carta2 {
    margin-top: 5%;
  }
  .carta3 {
    margin-top: 5%;
  }
  .desayuno-lista {
    margin-left: 19%;
  }
  .super-galeria {
    margin-left: 22%;
  }
}

/*# sourceMappingURL=estilo.css.map */
