@charset "UTF-8";
.borde-redondeado, .carta, .cartat, .cartap {
  border-radius: 20px;
}

body {
  background-color: whitesmoke;
}

header {
  background-color: beige;
}

h1 {
  color: black;
  width: 2px;
  font-weight: light;
  text-align: center;
  font-size: 50px;
}

nav a {
  text-decoration: none;
  font-size: 2rem;
  align-content: center;
  color: chocolate;
  font-weight: lighter;
  margin-right: 2rem;
}

main {
  margin-top: 2%;
  width: 100%;
}

.imagenCarrusel {
  height: auto;
}

h1 {
  color: black;
  width: 100%;
  font-style: oblique;
  text-align: center;
  font-size: 6vh;
}

h2 {
  color: chocolate;
  -webkit-text-stroke: 1px black;
  font-size: 4vh;
  margin-left: 1%;
  margin-bottom: 5%;
  text-align: center;
}

h3 {
  color: brown;
}

h4 {
  font-size: 1rem;
}

h5 {
  font-size: 2rem;
}

.pedido {
  color: white 150px;
  font-size: 20px;
}

footer {
  display: grid;
  grid-template: 10rem/auto auto auto auto;
  background-color: burlywood;
}
footer p {
  font-weight: bold;
  font-size: 20px;
  font-display: center;
  color: white 150px;
  font-size: 20px;
  margin-top: 5rem;
  margin-left: 1rem;
}
footer form {
  flex-direction: row;
  padding: 1rem;
  border-radius: 2rem;
  margin-top: 4rem;
}

.iconos {
  font-size: 3rem;
  padding: 4rem;
  margin-left: 2rem;
}

.web {
  font-size: 2vh;
  margin-top: 5rem;
  padding: 2%;
}

.nav-link {
  text-decoration: none;
  font-size: 2rem;
  align-content: center;
  color: chocolate;
  font-weight: lighter;
  margin-right: 2rem;
}

.parrafo1 {
  color: chocolate;
  -webkit-text-stroke: 1px black;
  font-size: 4vh;
  margin-left: 1%;
  margin-bottom: 5%;
}

.parallax {
  background-image: url(../img/fondo.jpg);
  opacity: 0.5;
  height: 400px;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  margin-bottom: 50px;
}

.video_container {
  display: flex;
  justify-content: center;
}
.video_container iframe {
  width: 500px;
  height: 300px;
}

.parrafo p {
  padding: 2%;
  margin-left: 2%;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: brown;
  font-size: 4vh;
}

.parrafo-index {
  font-size: 3vh;
  color: chocolate;
  padding: 2%;
}

.section-dos {
  display: flex;
  flex-direction: row;
}
.section-dos img {
  align-items: flex-start;
  width: 100%;
  padding: 2%;
}
.section-dos p {
  align-items: flex-end;
  font-size: 4vh;
  padding: 2%;
  color: chocolate;
}

.pedido {
  font-size: 3vh;
  color: chocolate;
  padding: 2%;
}

.simular {
  font-size: 3vh;
  color: chocolate;
  padding: 2%;
}

/*-----------------------------------------------menu------------------------------------*/
.contenedor-menu {
  font-size: x-large;
}

.grid-salados {
  display: grid;
  grid-template: 23rem/auto auto;
  text-align: center;
  margin-bottom: 5rem;
  padding-left: 10rem;
}

.grid-dulces {
  display: grid;
  grid-template: 36rem/auto auto;
  padding: 10rem;
  text-align: center;
}

/*-----------------------------------------sobre nosotros---------------------------------*/
.container-propio p {
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  font-size: 4vh;
}
.container-propio .p1 {
  display: flex;
  flex-direction: column;
  font-size: 4vh;
  padding: 2%;
  align-items: center;
}
.container-propio .p1 img {
  width: 40rem;
  height: 30rem;
  padding: 2%;
}
.container-propio .p2 {
  display: flex;
  padding: 2%;
}
.container-propio .p2 p {
  padding: 3%;
}
.container-propio .p3 {
  display: flex;
  flex-direction: row-reverse;
  padding: 2%;
}
.container-propio .p3 img {
  padding: 1%;
}
.container-propio .p4 {
  display: flex;
  flex-direction: row;
  padding: 2%;
}
.container-propio .p5 {
  display: flex;
  flex-direction: row-reverse;
  padding: 3%;
}
.container-propio .p5 p {
  padding: 2%;
}
.container-propio h2 {
  text-align: center;
}

/*----------------------------------------------promociones---------------------------------------*/
.promo-ul li {
  font-size: 2rem;
  color: chocolate;
  -webkit-text-stroke: black;
}

.cartap {
  background-color: burlywood;
  margin-right: 20px;
  margin-top: 3vh;
  margin-left: 10%;
  border: grey;
}

img {
  height: 14rem;
}

.promociones {
  margin-bottom: 5%;
}

.card.cartap {
  width: 25rem !important;
}

.postres {
  margin-left: 10%;
  margin-right: 5%;
  box-shadow: 50px chocolate;
  transform: translate(10px 20px);
}

.container-promo {
  margin-bottom: 10%;
  font-size: 1rem;
}

/*----------------------------------------------infantiles-----------------------------------------*/
.cartat {
  background-color: burlywood;
  margin-right: 20px;
  margin-top: 3vh;
  margin-left: 10%;
  border: grey;
}

.trufas {
  margin-bottom: 5%;
}

/*---------------------------------------------día del padre-------------------------------------*/
.carta {
  background-color: burlywood;
  margin-right: 20px;
  margin-top: 3vh;
  margin-left: 10%;
  border: grey;
}

.desayuno-lista p {
  font-size: 2rem;
  color: brown;
}

.desayuno-lista ul {
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  color: chocolate;
}

.postres {
  margin-bottom: 5%;
}

.postres p {
  font-size: 2rem;
}

.container-promo {
  font-size: 1rem;
}

/*---------------------------------------------galería-------------------------------------------*/
.contenedor-galeria img {
  width: 20rem;
  height: 20rem;
}

.contenedor-galeria p {
  font-size: 2rem;
  margin-left: 15%;
}

.super-galeria {
  display: grid;
  grid-template: 20rem/auto auto auto auto;
}
.super-galeria img {
  height: 20rem;
  width: 20rem;
}
.super-galeria img:hover {
  transform: scale(1.2);
  transition: all 3s;
}

/*------------------------transformaciones--------------------------*/
.header-nav a:hover {
  color: brown;
}

h1:hover {
  transform: scale(1.2);
  transition: all 2s;
}

.grid-sub-h2 {
  transition: all 0.7s;
}

.animacion {
  width: 120px;
  height: 120px;
  margin: 0 0 200px 50px;
  background-color: aquamarine;
}

.img-pos:hover {
  animation: cambioDeColores 5s;
}

/*------------------------------------------------TABLET 768px-------------------------------------*/
@media only screen and (max-width: 1000px) {
  /*inicio*/
  a {
    font-size: 100%;
  }
  .carta {
    width: 15rem;
  }
  h2 {
    display: flex;
    font-size: 150%;
    padding: 2%;
  }
  section p {
    width: 65%;
    margin-left: 15%;
  }
  .section-dos {
    flex-direction: column;
    /*menu*/
  }
  .section-dos footer {
    display: grid;
    grid-template: 5rem/auto auto;
    background-color: burlywood;
  }
  .section-dos footer p {
    font-weight: bold;
    font-size: 10px;
    font-display: center;
    color: white 150px;
    font-size: 20px;
    margin-top: 5rem;
    margin-left: 1rem;
  }
  .section-dos footer form {
    flex-direction: row;
    padding: 1rem;
    border-radius: 2rem;
    margin-top: 4rem;
  }
  .iconos {
    font-size: 1.5rem;
    padding: 2rem;
    margin-left: 2rem;
  }
  /*Galeria*/
  .super-galeria {
    display: grid;
    padding: 10%;
    grid-template: 20rem/auto auto auto;
  }
  .grid-dulces, .grid-salados {
    grid-template: 36rem/auto;
  }
}
/*----------------------------------------------------MOBILE 576px-------------------------------------*/
@media only screen and (max-width: 576px) {
  /*inicio*/
  header {
    width: 100%;
  }
  nav {
    display: flex;
    flex-direction: column;
  }
  nav a {
    font-size: 100%;
  }
  main img {
    width: 10px;
  }
  .carta {
    width: 15rem;
  }
  h1 {
    font-size: 200%;
    display: inline;
  }
  h2 {
    display: flex;
    font-size: 150%;
  }
  section h1 {
    margin-left: 14%;
  }
  section p {
    width: 65%;
    margin-left: 15%;
  }
  .parrafo {
    width: 65%;
  }
  .parrafo p {
    margin-left: 30%;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: brown;
  }
  .video_container {
    margin-left: 15%;
    width: 72%;
  }
  .section-dos {
    display: flex;
    flex-direction: row;
  }
  .section-dos img {
    align-items: flex-start;
    width: vh;
    padding: 2%;
  }
  .section-dos p {
    display: none;
    font-size: 4vh;
    padding: 2%;
    color: chocolate;
  }
  footer {
    display: flex;
    flex-direction: column;
    width: 100%;
  }
  footer form {
    width: 5%;
  }
  .iconos {
    display: flex;
    font-size: 2rem;
  }
  .web {
    display: flex;
    font-size: 1vh;
    padding: 1rem;
    margin-top: 15%;
  }
  .card.cartap {
    width: 80% !important;
  }
  .postres {
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(6, 1fr);
  }
  .postres img {
    width: 15rem;
    height: 15rem;
  }
  .postres p {
    align-items: center;
  }
  .img-pos {
    width: 42%;
    border: 1rem solid chocolate;
    border-radius: 8%;
    margin-top: 2%;
    margin-bottom: 2%;
    margin-left: 15%;
  }
  .contenedor-galeria {
    display: flex;
    flex-direction: column;
    margin-left: 15%;
  }
  /*menu*/
  .grid-dulces {
    padding: 0%;
    display: flex;
    flex-direction: column;
  }
  .grid-salados {
    padding: 0%;
    display: flex;
    flex-direction: column;
  }
  /*sobre nosotros*/
  .sobre-nosotros .container-propio p {
    font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
    font-size: 3vh;
  }
  .sobre-nosotros .container-propio .p2, .sobre-nosotros .container-propio .p3, .sobre-nosotros .container-propio .p4, .sobre-nosotros .container-propio .p5 {
    flex-direction: column;
  }
  .sobre-nosotros .container-propio .p1 {
    display: flex;
    flex-direction: column;
    font-size: 3vh;
    padding: 1%;
    align-items: center;
  }
  .sobre-nosotros .container-propio .p1 img {
    width: 20rem;
    height: 30rem;
    padding: 1%;
  }
  /*promociones*/
  .carta1t {
    margin-top: 5%;
  }
  .carta2t {
    margin-top: 5%;
  }
  .carta3t {
    margin-top: 5%;
  }
  .carta4t {
    margin-top: 5%;
  }
  .carta5t {
    margin-top: 5%;
  }
  .carta6t {
    margin-top: 5%;
  }
  .postres {
    margin-left: 0;
  }
  .postres img {
    width: 100%;
  }
  .carta1 {
    margin-top: 5%;
  }
  .carta2 {
    margin-top: 5%;
  }
  .carta3 {
    margin-top: 5%;
  }
  .desayuno-lista {
    padding: 1rem;
  }
  .super-galeria {
    display: grid;
    padding: 5%;
    grid-template: 20rem/auto;
  }
}

/*# sourceMappingURL=estilo.css.map */
