
$paleta:( 
    blanco-claro: beige, 
    negro: black,
    amarillo: yellow,
    chocolate: chocolate,
    amarillo-oscuro: burlywood,
    gris: grey,
    marron: brown,
    celeste: aquamarine,
);

